 html,body
{
    font-family:"Raleway", "sans-serif";
    font-weight:500;
    -webkit-font-smoothing:antialiased;
    -webkit-user-select: none;
    color:#42A6F3;
    height: 100%;
    width: 100%;
}

ul, li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

#FileTemplate, #InputFile
{
    display: none;
}


.button
{
    cursor:pointer;
}

.spacer-5
{
    width: 100%;
    height: 5%;
}

.spacer-10
{
    width: 100%;
    height: 10%;
}

.spacer-15
{
    width: 100%;
    height: 15%;
}

.header
{
    position: fixed;
    font-size:350%;
    height: 15%;
    width: 100%;
    overflow: hidden;
}

    .subtitle
    {
        font-size: 18px;
    }

.panel-container li
{
    display: inline-block;
    vertical-align: top;
}

.center-panel
{
    text-align:center;
}

    .file-list-container
    {
        width: 100%;
        height: 100%;
    }

        .file-list-top
        {
            display: block;
            font-size: 20px;
            margin-left: 35%;
            margin-right: 5%;

            border-bottom: solid;

            border-color:  rgba(66,166,243);

            text-align: left;
        }

            .file-header-info
            {
                margin-top: 2%;
                margin-bottom: 2%;
                margin-left: 9%;
            }

                .file-header-info li
                {
                    display: inline-block;
                    border: none;
                    margin-right: 19%;
                }

        .file-list-container-li
        {
            display: block;
            font-size: 20px;
            margin-left: 35%;
            margin-right: 5%;

            border: solid;

            border-color:  rgba(66,166,243, 0.1);
            border-radius: 10px;

            text-align: left;
        }

        .file-list-container-li:hover
        {
            border-color:  rgba(66,166,243, 1.0);
        }

            .file-info
            {  
                margin-top: 2%;
                margin-bottom: 2%;
                margin-left: 5%;
            }

                .file-info li 
                {
                    display: inline-block;
                    border: none;
                    margin-right: 20%;

                    width: 12%;
                    overflow: hidden;
                }




.side-panel
{
    height:100%;
    width:27%;
    text-align:center;
    font-size: 200%;

    position: fixed;
}

    .space-left-bar
    {
        width: 100%;
        height: 2%;
        border: solid;
    }

        .space-fill
        {
            height: 100%;
            width: 50%;
            background: #42A6F3;
        }

.filter-container
{
    font-size: 70%;
    list-style: none;
}

.filter-location
{
    font-size: 60%;
    list-style: none;
}

.new-cloud-panel
{
    display: none;
}   

    .new-cloud-cover
    {
        position: fixed;
        top: 0px;
        left: 0px;

        height: 100%;
        width: 100%;

        background-color:rgba(100,100,100,.7);
    }

    .new-cloud-containers
    {
        position: fixed;

        height: 80%;
        width: 50%;

        top: 10%;
        left: 25%;

        background: white;

        border: solid;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

        .new-cloud-containers li
        {
            margin-top: 23%;
            display: inline-block;
            width: 20%;
            height: 30%;
            margin-left: 10%;
        }

            .new-cloud-containers li .image
            {
                width: 100%;
                height: 100%;
            }

            .Google .image
            {
                background-image: url("../img/drive_logo.jpg");
                background-size: 100% 100%;
            }


            .Dropbox .image
            {
                background-image: url("../img/dropbox-logo.png");
                background-size: 100% 100%;
            }

            .OneDrive .image
            {
                background-image: url("../img/onedrive-logo.png");
                background-size: 100% 100%;
            }


.footer
{
    width: 100%;
    position: fixed;
    bottom: 0%;
    font-size: 8px;
}
